@import "compass";
@import "compass/css3/";
@import "mixins";
@import "animations";


$shadows-small: multiple-box-shadow(100, #fff);
$shadows-small-2: multiple-box-shadow(50, #ff3399);
$shadows-medium: multiple-box-shadow(100, #ff3399);
$shadows-big: multiple-box-shadow(80, #ff3399);


#badgal-bang-takeover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #090a0f;
  z-index: 99999;

  #badgal-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .hidden-text {
    font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;
    text-indent: -1000px;
  }

  .pink {
    color: #ff3399;
  }

  .depth-10 {
    z-index: 1000;
  }

  .animation-holder {
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
  }

  #bigbang {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    background-size: cover;
    opacity: 0.65;
  }

  .night {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -101;
  }

  .stars {
    background: #090a0f url(../img/outerspace.jpg) no-repeat center;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .stars1 {
    width: 1px;
    height: 1px;
    z-index: 50;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  .stars2 {
    width: 2px;
    height: 2px;
    z-index: 49;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 70s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  .stars3 {
    width: 3px;
    height: 3px;
    z-index: 48;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  .stars4 {
    width: 1px;
    height: 1px;
    z-index: 47;
    background: transparent;
    box-shadow: $shadows-small-2;
    animation: animStar 80s linear infinite;

    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small-2;
    }
  }

  #emergency-exit {
    position: fixed;
    color: #ff3399;
    top: 15px;
    right: 15px;
    background-image: url(../img/emergency-exit.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: 70px;
    z-index: 10000;
    cursor: pointer;

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      top: 35px;
      right: 55px;
    }
  }

  .arrow-fade {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
    height: 50px;
    width: 50px;
  }

  .arrow {
    position: absolute;
    background-image: url(../img/down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 70px;
    animation: scrollMe 1.5s ease-in-out infinite alternate;
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 7px #ff3399) drop-shadow(0 0 10px #ff3399);

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop);
  }

  .scroll {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    bottom: 15%;
    left: 50%;
    position: absolute;
  }

  #buy {
    position: fixed;
    opacity: 1;
    background-image: url(../img/buy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 10%;
    right: 10%;
    height: 90px;
    width: 90px;

    @include breakpoint(tablet) {
      height: 150px;
      width: 150px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      top: 75%;
      right: 15%;
      height: 150px;
      width: 150px;
    }


    a {
      height: 90px;
      width: 90px;

      @include breakpoint(tablet) {
        height: 150px;
        width: 150px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 150px;
        width: 150px;
        border-radius: 80px;
      }
    }
  }

  #progress-container {
    height: 80%;
    width: 2px;
    background: #fff;
    position: fixed;
    z-index: 200;
    top: 5%;
    left: 17px;

    @include breakpoint(tablet) {
      left: 25px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 60%;
      top: 20%;
      left: 50px;
    }
  }

  #progress {
    height: 0%;
    width: 2px;
    background: #ff3399;
    top: 0;
  }

  .progress-keyframe {
    list-style-type: none;
    background: #fff;
    position: absolute;
    z-index: 205;
    height: 10px;
    width: 10px;
    margin: 0 -44px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;

    @include breakpoint(tablet) {
      height: 15px;
      width: 15px;
      margin: 0 -46px;
    }
    @include breakpoint(laptop) {}
    @include breakpoint(desktop) {}


    .scene-link {
      height: 20px;
      width: 20px;
      border-radius: 10px;
      margin: -3px;
    }
  }

  #scene1-link {
    top: 0;
  }

  #scene2-link {
    top: 9%;
  }

  #scene3-link {
    top: 19%;
  }

  #scene4-link {
    top: 25%;
  }

  #scene5-link {
    top: 40%;
  }

  #scene6-link {
    top: 62%;
  }

  #scene7-link {
    top: 91%;
  }

  #scene8-link {
    top: 100%;
  }

  .scene {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .layer {
    display: block;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
  }

  .scene {
    min-height: 460px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .layer {
    .layer div {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;

    }
  }

  #intro {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .intro-text {
      position: absolute;
      top: 35%;
      left: 54%;
      transform: translate(-50%, -50%);

      @include breakpoint(tablet) {
        top: 30%;
        left: 53%;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        left: 50%;
      }

      h2 {
        font-size: 60px;
        line-height: 54px;
        letter-spacing: 4px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin: 0;

        @include breakpoint(tablet) {
          font-size: 120px;
          line-height: 108px;
          letter-spacing: 7px;
        }
        @include breakpoint(laptop) {
          font-size: 100px;
          line-height: 80px;
          letter-spacing: 7px;
        }
        @include breakpoint(desktop) {
          font-size: 100px;
          line-height: 80px;
          letter-spacing: 7px;
        }
      }

      small {
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #ff3399;
        text-transform: uppercase;
        position: relative;
        margin: 0 3px;

        @include breakpoint(tablet) {
          font-size: 50px;
        }
        @include breakpoint(laptop) {
          font-size: 30px;
        }
        @include breakpoint(desktop) {
          font-size: 50px;
        }
      }

      small.sub-bang {
        font-size: 16px;

        @include breakpoint(tablet) {
          font-size: 36px;
        }
        @include breakpoint(laptop) {
          font-size: 30px;
        }
        @include breakpoint(desktop) {
          font-size: 36px;
        }
      }
    }

    .intro-product {
      top: 55%;
      left: 20%;
      height: 45px;
      width: 270px;
      background-image: url(../img/badgal-bang-closed.png);
      opacity: 0;
      animation-name: slamIn, pSwing;
      animation-duration: 0.4s, 4s;
      animation-timing-function: cubic-bezier(0.59, 0.34, 0, 1), cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-iteration-count: 1, infinite;
      animation-direction: normal, alternate;
      animation-fill-mode: forwards, forwards;
      animation-delay: 2s, 2.4s;

      @include breakpoint(tablet) {
        height: 85px;
        width: 510px;
      }
      @include breakpoint(laptop) {
        left: 30%;
      }
      @include breakpoint(desktop) {
        top: 60%;
        left: 35%;
        height: 90px;
        width: 540px;
      }
    }
  }

  .fade-in {
    opacity: 0;
    opacity: 1 \9;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    animation-duration: 0.7s;
  }

  .fade-in.explosion {
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .fade-in.one {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }

  .fade-in.two {
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }

  .fade-in.three {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
  }

  #scene2 {
    .product {
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      transform: translate(-50%, -50%);
      -webkit-animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      position: relative;
      height: 50px;
      width: 300px;
      background-image: url(../img/badgal-bang-closed.png);

      @include breakpoint(tablet) {
        height: 85px;
        width: 510px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 95px;
        width: 575px;
      }
    }

    #gravity-defying {
      top: 30%;
      left: 40%;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        top: 30%;
        left: 40%;
      }
    }
  }

  .layer-text {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #fff;
    border: 2px solid #ff3399;
    border-radius: 6px;
    background-color: #000;
    padding: 10px 15px;
    text-align: left;
    line-height: 38px;
    position: absolute;
    transform: translate(-50%, -50%);
    min-width: 180px;

    @include breakpoint(tablet) {
      min-width: 200px;
    }
    @include breakpoint(laptop) {
      min-width: 200px;
    }
    @include breakpoint(desktop) {
      font-size: 64px;
      letter-spacing: 4px;
      padding: 20px 30px;
      line-height: 60px;
      min-width: 370px;
    }


    small {
      color: #ff3399;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      margin: 6px 0;
      letter-spacing: 0px;
      line-height: 18px;

      @include breakpoint(tablet) {
        font-size: 16px;
      }
      @include breakpoint(laptop) {
        font-size: 16px;
      }
      @include breakpoint(desktop) {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  .space-junk {
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .spacesuit {
    transform-origin: center bottom;
  }

  .astronaut {
    -webkit-animation: pSwing 4.5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: pSwing 4.5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: pSwing 4.5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-image: url(../img/astronaut.png);
    height: 500px;
    width: 220px;

    @include breakpoint(tablet) {
      height: 850px;
      width: 370px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 750px;
      width: 320px;
    }
  }

  .dude {
    height: 90px;
    width: 75px;
    background-image: url(../img/dude.png);

    @include breakpoint(tablet) {
      height: 160px;
      width: 125px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 200px;
      width: 160px;
    }


    .asdf {
      position: absolute;
      top: -20px;
      left: -30px;
      height: 40px;
      width: 55px;
      display: none;
      background-image: url(../img/asdf.png);
      background-size: cover;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        top: -20px;
        left: -40px;
        height: 70px;
        width: 90px;
      }
    }

    .ass-teroid {
      position: absolute;
      top: -45px;
      left: -45px;
      height: 50px;
      width: 75px;
      display: none;
      background-image: url(../img/ass-teroid.png);
      background-size: cover;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        top: -20px;
        left: -50px;
        height: 70px;
        width: 110px;
      }
    }
  }

  .kitty {
    height: 240px;
    width: 120px;
    background-image: url(../img/kitty.png);

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 380px;
      width: 190px;
    }


    .laser {
      position: absolute;
      top: -73px;
      left: -40px;
      height: 120px;
      width: 95px;
      display: none;
      background-image: url(../img/laser.png);
      background-size: cover;
      transform-origin: bottom right;
      animation: laserEyes 0.3s ease-in-out infinite alternate;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        top: -106px;
        left: -56px;
        height: 180px;
        width: 170px;
      }
    }
  }

  .asteroid {
    height: 20px;
    width: 20px;
    background-image: url(../img/asteroid.png);

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 60px;
      width: 60px;
    }
  }

  .asteroid-2 {
    height: 20px;
    width: 20px;
    background-image: url(../img/asteroid-2.png);

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 60px;
      width: 60px;
    }
  }

  .asteroid-3 {
    height: 20px;
    width: 20px;
    background-image: url(../img/asteroid-3.png);

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 60px;
      width: 60px;
    }
  }

  .ufo {
    height: 40px;
    width: 95px;
    background-image: url(../img/UFO.png);

    @include breakpoint(tablet) {
      height: 70px;
      width: 165px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 90px;
      width: 210px;
    }
  }

  #scene3 {
    .product-open {
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation: pSwing 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
      height: 65px;
      width: 300px;
      background-image: url(../img/badgal-bang-open.png);

      @include breakpoint(tablet) {
        height: 85px;
        width: 390px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 120px;
        width: 575px;
      }
    }

    .product-brush {
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation: pSwingTwirl 18s 0.1s infinite normal cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-animation: pSwingTwirl 18s 0.1s infinite normal cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation: pSwingTwirl 18s 0.1s infinite normal cubic-bezier(0.455, 0.03, 0.515, 0.955);
      height: 50px;
      width: 300px;
      background-image: url(../img/badgal-bang-brush.png);

      @include breakpoint(tablet) {
        height: 75px;
        width: 450px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 95px;
        width: 575px;
      }
    }

    .hex {
      width: 295px;
      height: 180px;
      background-color: transparent;
      position: relative;
      color: #fff;
      padding: 10px 5px;
      background-size: cover;
      background-repeat: no-repeat;

      @include breakpoint(tablet) {
        width: 400px;
        height: 245px;
      }
      @include breakpoint(laptop) {
        width: 350px;
        height: 215px;
      }
      @include breakpoint(desktop) {
        width: 400px;
        height: 245px;
      }


      h3 {
        font-size: 18px;
        margin: 5px 40px;
        color: #ff3399;
        text-transform: uppercase;

        @include breakpoint(tablet) {
          margin: 25px 55px 10px;
        }
        @include breakpoint(laptop);
        @include breakpoint(desktop) {
          margin: 5px 55px;
          font-size: 24px;
          letter-spacing: 1px;
        }
      }

      p {
        margin: 10px 40px;
        font-size: 14px;
        color: #fff;

        @include breakpoint(tablet) {
          margin: 10px 55px;
        }
        @include breakpoint(laptop);
        @include breakpoint(desktop) {
          font-size: 18px;
          margin: 10px 55px;
        }
      }
    }

    #ingredients {
      left: 10%;
      top: 10%;
      position: absolute;
      background-image: url(../img/tooltip-formula.png);

      @include breakpoint(tablet) {
        left: 20%;
        top: 15%;
      }
      @include breakpoint(laptop) {
        left: 20%;
        top: 5%;
      }
      @include breakpoint(desktop) {
        left: 25%;
      }
    }

    #slimpact {
      left: 10%;
      top: 25%;
      position: absolute;
      background-image: url(../img/tooltip-brush.png);

      @include breakpoint(tablet) {
        left: 15%;
      }
      @include breakpoint(laptop) {
        left: 30%;
      }
      @include breakpoint(desktop) {
        left: 40%;
      }


      h3 {
        margin-top: 30px;

        @include breakpoint(tablet) {
          margin-top: 50px;
        }
      }
    }
  }

  #bigbad {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .bigbad-text {
      position: absolute;
      top: 15%;
      left: 10%;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        top: 15%;
        left: 40%;
      }


      h2 {
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin: 0;
        line-height: 55px;
        letter-spacing: 4px;

        @include breakpoint(tablet) {
          font-size: 80px;
          line-height: 70px;
        }
        @include breakpoint(laptop);
        @include breakpoint(desktop) {
          font-size: 86px;
          line-height: 82px;
          letter-spacing: 8px;
        }
      }

      h2.pink {
        color: #ff3399;
      }
    }
  }

  .volume {
    min-width: 220px;

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      min-width: 530px;
    }
  }

  #earth {
    background-image: url(../img/earth.png);
    background-size: cover;
    height: 425px;
    width: 425px;

    @include breakpoint(tablet) {
      height: 765px;
      width: 765px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 1245px;
      width: 1245px;
    }
  }

  .spaceship {
    .spaceship-glam {
      height: 290px;
      width: 550px;
      background-image: url(../img/spaceship.png);

      @include breakpoint(tablet) {
        height: 535px;
        width: 1020px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 1050px;
        width: 2000px;
      }
    }

    .spaceship-blastoff {
      height: 195px;
      width: 450px;
      background-image: url(../img/spaceship-blastoff.gif);
      display: none;

      @include breakpoint(tablet) {
        height: 385px;
        width: 925px;
      }
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 770px;
        width: 1935px;
      }
    }

    .payoff {
      position: absolute;
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 10px;
      cursor: pointer;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        border-radius: 20px;
      }
    }

    .model1 {
      height: 24%;
      width: 12%;
      top: 35%;
      right: 17%;
      background-image: url(../img/model-1.gif);
      background-size: cover;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 20%;
        width: 10%;
        top: 37%;
        right: 16%;
      }
    }

    .model1.alien {
      background-image: url(../img/alien-1.png);
    }

    .model2 {
      height: 28%;
      width: 15%;
      top: 30%;
      right: 30%;
      background-image: url(../img/model-2.gif);
      background-size: cover;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 25%;
        width: 14%;
        top: 32%;
        right: 28%;
      }
    }

    .model2.alien {
      background-image: url(../img/alien-2.png);
    }

    .model3 {
      height: 31%;
      width: 17%;
      top: 28%;
      right: 46%;
      background-image: url(../img/model-3.gif);
      background-size: cover;

      @include breakpoint(tablet);
      @include breakpoint(laptop);
      @include breakpoint(desktop) {
        height: 32%;
        width: 17%;
        top: 29%;
        right: 44%;
      }
    }

    .model3.alien {
      background-image: url(../img/alien-3.png);
    }
  }

  #atmosphere {
    background-image: url(../img/earthmosphere.png);
    background-size: cover;
    height: 325px;
    width: 325px;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    @include breakpoint(tablet) {
      height: 500px;
      width: 500px;
      transform: translate(-55%, -50%);
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 625px;
      width: 625px;
      transform: translate(-60%, -47%);
    }
  }

  #desert {
    background-image: url(../img/desert.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #bang-landed {
    height: 70px;
    width: 420px;
    background-image: url(../img/badgal-bang-closed.png);

    @include breakpoint(tablet) {
      height: 85px;
      width: 510px;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 90px;
      width: 540px;
    }
  }

  #dugout {
    height: 95px;
    width: 125px;
    top: 80%;
    left: 33%;

    background-image: url(../img/dugout.png);
    display: none;

    @include breakpoint(tablet) {
      height: 120px;
      width: 155px;
      left: 39%;
    }
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      height: 120px;
      width: 160px;
      left: 43%;
    }
  }

  #outro {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10%;
    left: 0%;

    @include breakpoint(tablet);
    @include breakpoint(laptop);
    @include breakpoint(desktop) {
      top: -5%;
      left: -25%;
    }


    .outro-text {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      padding: 10px 15px;

      @include breakpoint(tablet) {
        left: 40%;
      }
      @include breakpoint(laptop) {
        left: 26%;
      }
      @include breakpoint(desktop) {
        left: 50%;
      }

      h2 {
        font-size: 60px;
        line-height: 54px;
        letter-spacing: 4px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        margin: 0;

        @include breakpoint(tablet) {
          font-size: 90px;
          line-height: 70px;
          letter-spacing: 4px;
        }
        @include breakpoint(laptop) {
          font-size: 80px;
        }
        @include breakpoint(desktop) {
          font-size: 120px;
          line-height: 108px;
          letter-spacing: 7px;
        }
      }

      small {
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #ff3399;
        text-transform: uppercase;
        position: relative;
        margin: 0 3px;

        @include breakpoint(tablet) {
          font-size: 25px;
          letter-spacing: 2px;
        }
        @include breakpoint(laptop);
        @include breakpoint(desktop) {
          font-size: 36px;
        }
      }

      p {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin: 0 3px;
        text-transform: uppercase;

        @include breakpoint(tablet) {
          font-size: 25px;
        }
        @include breakpoint(laptop) {
          letter-spacing: 2px;
        }
        @include breakpoint(desktop) {
          font-size: 38px;
        }
      }
    }
  }

  /* Animation Classes */
  .twitch {
    animation: twitch 0.82s infinite alternate cubic-bezier(0.36, 0.07, 0.19, 0.97);
  }

  .landed {
    animation: landed 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  .twirl {
    animation: twirl 0.5s forwards normal linear;
  }

  .shake-it {
    animation: shakeIt 4s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    cursor: pointer;
  }

  .swing {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: pSwing 4.2s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: pSwing 4.2s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: pSwing 4.2s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .big-lash {
    -webkit-animation: biggerLash cubic-bezier(0.59, 0.34, 0, 1) 1 alternate 0.2s;
    -moz-animation: biggerLash cubic-bezier(0.59, 0.34, 0, 1) 1 alternate 0.2s;
    animation: biggerLash cubic-bezier(0.59, 0.34, 0, 1) 1 alternate 0.2s;
  }

  .slam-lash {
    opacity: 0;
    -webkit-animation: slamIn cubic-bezier(0.59, 0.34, 0, 1) 1 forwards 0.4s;
    -moz-animation: slamIn cubic-bezier(0.59, 0.34, 0, 1) 1 forwards 0.4s;
    animation: slamIn cubic-bezier(0.59, 0.34, 0, 1) 1 forwards 0.4s;
  }

  .glow {
    -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
    cursor: pointer;
  }

  .glow-drop {
    animation: neonglowDrop 0.5s ease-in-out infinite alternate;
  }

  .skrollable {
    /*
     * First-level skrollables are positioned relative to window
     */
    position:fixed;
  }

  .skrollr-mobile .skrollable {
    /*
      May cause issues on Android default browser (see #331 on GitHub).
    */
    position:absolute;
  }

  .skrollable .skrollable {
    /*
     * Second-level skrollables are positioned relative their parent skrollable
     */
    position:absolute;
  }

  .skrollable .skrollable .skrollable {
    /*
     * Third-level (and below) skrollables are positioned static
     */
    position:static;
  }
}
